body {
   font-family: "Plus Jakarta Sans", sans-serif !important;
   display: flex;
   flex-direction: column;
   overflow-x: hidden;

}

.container {
   flex: 1;
   min-height: 100vh;
}

.navbar {
   height: 5rem;
   background-color: white;
}

.fa-compass {
   font-size: 2rem;
   color: #fe424d;
}

.nav-link {
   color: #222222 !important;
}

.info {
   height: 8rem;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   background-color: #ebebeb;
   align-content: space-evenly;
   text-align: center;
}

.f-social-info,
.f-links-info,
.company-info {
   width: 100%;
}

.f-social-info i {
   font-size: 1.2rem;
   margin-right: 6px;
}

.f-links-info a {
   text-decoration: none;
}

.f-links-info a:hover {
   text-decoration: underline;
}

.listing-card{
   border: none !important;
   margin-bottom: 2rem !important;
}

.card-img-top {
   width: 100% !important;
   object-fit: cover !important;
   border-radius: 1rem !important;
}

.card-body {
   padding: 0 !important;
}

.card-text {
   font-weight: 400;
}

.card-links {
   text-decoration: none !important;
   color: #222222;

}

.card-img-overlay {
   opacity: 0;
}

.card-img-overlay:hover {
   opacity: 0.2;
   background-color: white;
}

.btn-add {
   background: #fe424d !important;
   border: none !important;
}

.edit-btn {
   background-color: #fe424d !important;
   border: none !important;
}

.show-img {
   height: 40vh;


}

.show-btns {
   margin-left: 190px;
   margin-top: 0px;

}

.show-btns button {
   margin-left: 15px;
   border: none;
   background-color: #fe424d !important;
   color: white;
}